# Ignore API authentication file
api_auth.txt

# Ignore json files
paths.json
carrier_urls.json

# Ignore test files
Testsinmacro.xlsx
Testsinmacro_2.xlsx

# Ignore all Excel files in folder 'Shipment Data'
Shipment\ Data*.xlsx

# Ignore all Excel files in folder 'Track Report'
Track\ Report*.xlsx

# Ignore ChromeDriver folder
ChromeDriver/
chromedriver
